@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600&display=swap");

:root {
  --poppins: "Poppins";
  --violet: #c4007c;
  --lightviolet: #f0e2ea;
  --black: #000000;
  --lighgrey: #f5f5f5;
  --textgrey: #343434;
  --white: #fff;
  --footgrey: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

a {
  text-decoration: none;
}
